@font-face{
    font-family: "BiancoReg";
    src: url("../../assets/font/BiancoSans-Regular.ttf");
}
@font-face{
    font-family: "GT-flexa-regular";
    src: url("../../assets/font/GT-Flexa-Standard-Regular.bf7ad42b.otf");
}
@font-face{
    font-family: "GT-flexa-light";
    src: url("../../assets/font/GT-Flexa-Condensed-Light.a7aeb30c.woff2");
}