@import "../../scss/global.scss";

.header{
    background-color: #1c3532;
    font-family: 'GT-flexa-regular';
    z-index: 99;
    position: sticky;
    top: 0;
    padding: 23px 0;
    .main-header{
        max-width: 100%;
        @include grid-center;
        grid-template-columns: 1fr auto 1fr;
        gap: 120px;
        .logo-infoDubai{
            text-align: center;
            color: #fff;
            display: grid;
            grid-template-rows: 1fr;
            gap: 5px;
        }
        .right-header, .left-header{
            nav{
                @include flex-head-center;
                .icon-menu{
                    display: none;
                    color: #fff;
                }
                a{
                    text-decoration: none;
                    color: #faf5f5;
                    position: relative;
                    &::after{
                        content: " ";
                        width: 0%;
                        margin: 0;
                        height: 2px;
                        background-color: #fff;
                        display: block;
                        transition: 0.3s ease-in-out;
                    }
                    &:hover::after{
                        cursor: pointer;
                        display: block;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 24px;
                        text-decoration: none;
                        position: relative;
                        width: 100%;
                        transition: 0.3s ease-in-out;
                    }
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .header{
        max-width: 100%;
        margin: 0;
        padding: 10px 0;
        .main-header{
            width: 100%;
            .right-header, .left-header{
               a{
                display: none;
               } 
               button{
                height: 20px;
                font-size: 6px;
                padding: 5px 6px;
               }                 
            }
            .logo-infoDubai{
                gap: 0px;
                .logo{
                    img{
                        height: 25px;
                    }
                }
                h5{
                    word-spacing: 5px;
                    font-size: 10px;
                }
            }
        }
    }    
}